/* ARQUIVO: css/login.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: var(--card-bg);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-box h1 {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 2px solid #b2bec3;
    border-radius: 8px;
    outline: none;
}

.input-group input:focus {
    border-color: var(--primary-color);
}